<!DOCTYPE html>
<html lang="es">
    <head>
        <title> index </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/css/styles.css">
    
    
    </head>
    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a href="#" class="logo">SHEIN</a>
                <span class="menu-icon">Ver menu</span>
                <nav class="navigation"> 
                  <ul class="show">
                    <li><a href="#">Inicio</a> </li>
                    <li><a href="#">Niña</a> </li>
                    <li><a href="#">Niño</a> </li>
                    <li><a href="#">Hombre</a> </li>
                    <li><a href="#">Mujer</a> </li>
                    <li><a href="#">Iniciar sesion</a> </li>
                    <li><a href="#">Cerrar sesion</a> </li>
                    <li><a href="#">Carrito de compras</a> </li>
                    <input type="text" id="fname" name="fname" value="Busqueda">
                  </ul>
                </nav>
              </div>
        </header>
        <main class="main">
            <div class="container">

                <h1>Bienvenido tenemos los siguientes productos en promocion</h1>

<p>con 50% de descuento </p>

<p>¿quienes somos?.</p>
<p>somos chein una empresa encargada de la distribucion de ropa y asi mismo conocemos que el impacto que tiene nuestra marca en las personas por ello damos lomejor de nosotros para darles el mejor praducto a sus manos</p>

<p >Trending.</p>



            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <p style="background-color:gray;">Encuentranos en: .</p>
                <p style="background-color:blue;">FB Chein .</p>
                <p style="background-color:blue ;">Twitter @chein .</p>
                <p style="background-color:gray;">Email chein@gmail.com .</p>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/public/js/scripts.js"></script>

    </body>
</html>