<!DOCTYPE html>
<html lang="es">
    <head>
        <title> index </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/css/styles.css">
       
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    </head>
    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a href="#" class="logo">SHEIN</a>
                <span class="menu-icon">Ver menu</span>
                <nav class="navigation"> 
                  <ul class="show">
                    <li><a href="/src/views/index.html">Inicio</a> </li>
                    <li><a href="#">Hombre</a> </li>
                    <li><a href="#">Mujer</a> </li>
                    <li><a href="#">Iniciar sesion</a> </li>
                    <li><a href="#">Cerrar sesion</a> </li>
                    <li><a href="/src/views/carshoping.html">Carrrito</a> </li>
                  </ul>
                </nav>
              </div>
        </header>
        <main class="main">
              
        </main>
        <footer>

            <div class="container-footer-all">
            <div class="container-body">

                <div class="column1">
                   <h1>Mas informacion de la compania</h1>
                <p>
                    Esta compania se dedica a la venta de ropa para dama y caballero asi mismo brindandole
                una calidad sin igual
                </p>
            </div>

            <div class="column2">
                <h1>Redes sociales</h1>
                <div class="row">
                    <img src="/public/images/facebook.png">
                    <label> Siguenos en Facebook
                    </label>
                </div>
                <div class="row">
                    <img src="/public/images/instagram.png">
                    <label> Siguenos en Instagram</label>
                </div>
                <div class="row">
                    <img src="/public/images/twitter.png">
                    <label> Siguenos en Twitter
                    </label>
                </div>
                <div class="row">
                    <img src="/public/images/tiktok.png.opdownload">
                    <label> Siguenos en tiktok
                    </label>
                </div>
                <div class="row">
                    <img src="/public/images/174883.png">
                    <label> Siguenos en Youtube
                    </label>
                </div>
            </div>

            <div class="colum3">
                <h1>Informacion de contacto</h1>
                <div class="row2">
                    <img src="/public/images/house.png">
                    <label>Av. 5 de Mayo 65, Tecámac Centro, Centro, 55740 Tecámac de Felipe Villanueva, Méx</label>
                </div>
                <div class="row2">
                    <img src="/public/images/smartphone.png">
                    <label>+52 1 5518847756</label>
                </div>
                <div class="row2">
                    <img src="/public/images/contact.png">
                    <label>alejandrosa548@gmail.com</label>
                </div>
                
                </div>
            </div>
            
            
            <div class="container-footer">
                <div class="footer">
                <div class="copyright">
                    © 2021 todos los derechos reservados | <a href="">Alejandro</a>
                </div>
                <div class="information">
                    <a href=""">Informacion compania </a> | <a href="">Privacidad y politica</a> |<a href="">Terminos y condiciones</a> 
                </div>
            </div>
                
            </div>
        
        </footer>
        <script src="/public/js/jquery-3.6.0.min.js"></script>
        <script src="/public/js/scripts.js"></script>
        
    </bod